* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  color: #ccffcc;
  background-color: #0d0b1f;
  background-attachment: fixed;
  line-height: 1.6;
  background-image: url('Minha\ foto.jpeg');background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  background-attachment: fixed;
}
.cabecalho {
  background-image: url('fundo1.jpg');
  background-size: cover;
  background-position: center;
  color: #ccffcc;
  text-align: center;
  padding: 70px 20px;
  box-shadow: inset 0 0 1000px rgba(0,0,0,0.7);
}
.menu ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  list-style: none;
}
.menu a {
  color: #39ff14;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}
.menu a:hover {
  color: #b026ff;
}
main {
  padding: 60px 20px;
}
section, aside {
  margin: 60px auto;
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #39ff14;
  max-width: 800px;
  backdrop-filter: blur(8px);
}
h2 {
  color: #b026ff;
  margin-bottom: 10px;
}
ul li {
  margin: 6px 0;
}
footer {
  text-align: center;
  padding: 25px;
  background: #0a0a12;
  border-top: 1px solid #39ff14;
  font-size: 0.9em;
}